.mainPage {
    width: 100vw;
    height: 100vh;
  
    background-size: cover;
    display: flex;
    justify-content: center;
  
  }
  .bodyHome{
    /* width: 100vw;
    height: 100vh; */
    width: 70vw;
    height: 100vh;
    max-height: auto;
    display: flex;
    /* justify-content: space-around; */
    /* background-color: aqua; */
    flex-direction: column;
    padding: 40px;
  }
  
  .mapHomePage{
    height: 70%;
  }
  .search-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    height: 50px;
    margin-top: 10px;
  }
  
  .search-button-container {
    grid-column: span 1;
    display: flex;
    align-items: center;
  }
  
  .search-button {
    width: 100%;
    height: 100%;
  }
  .cardContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .input-meetingPoint {
    grid-column: span 4; 
  }