.map {
    height: 90%;
    width: 100%;
    padding-top: 30px;
    border: 1px solid red;
    display: flex;
    justify-content: center; 
    margin: 30px;
}
.mainbodyforMap {

    height: 100%;
    width: 100%;
    border: 10px solid gray;
    display: flex;
    justify-content: center;
    
}