@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
.navbar {
    width: 100%;
    height: 8vh;
    background-color: #fabda6 ;
    /* background-color: #1451a2 ; */
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    /* flex-direction: column; */
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
li {
    list-style-type: none;
    margin: 20px;
  }
  .app-name{
    display: flex;
    justify-content: end;
    margin: 20px;
  }

  span{
    margin: 3px
  }